<ion-tabs>
  <div
    class="relative mt-4 z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-4 left-1/2 dark:bg-gray-700 dark:border-gray-600"
  >
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
      <button
        data-tooltip-target="tooltip-home"
        type="button"
        routerLinkActive="bg-gray-50"
        routerLink="events"
        class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <ion-icon
          name="calendar-outline"
          routerLinkActive="text-green-500"
          class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-green-500 dark:group-hover:text-green-400"
        ></ion-icon>
      </button>
      <button
        data-tooltip-target="tooltip-wallet"
        type="button"
        routerLinkActive="bg-gray-50"
        [routerLink]="'messages'"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <ion-icon
          routerLinkActive="text-green-500"
          name="chatbubbles-outline"
          class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-green-500 dark:group-hover:text-green-400"
        ></ion-icon>
      </button>
      <button
        data-tooltip-target="tooltip-wallet"
        type="button"
        routerLinkActive="bg-gray-50"
        routerLink="explore"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <ion-icon
          routerLinkActive="text-green-500"
          name="compass-outline"
          class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-green-500 dark:group-hover:text-green-400"
        ></ion-icon>
      </button>
      <button
        data-tooltip-target="tooltip-settings"
        type="button"
        routerLinkActive="bg-gray-50"
        [routerLink]="'activity'"
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <ion-icon
          routerLinkActive="text-green-500"
          name="flame-outline"
          class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-green-500 dark:group-hover:text-green-400"
        ></ion-icon>
      </button>
      <button
        routerLinkActive="bg-gray-50"
        data-tooltip-target="tooltip-profile"
        type="button"
        [routerLink]="'profile'"
        class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group"
      >
        <ion-img class="sm:m-4" [src]="userImg"></ion-img>
      </button>
    </div>
  </div>
</ion-tabs>
