button:disabled {
  opacity: 0.6;
}

ion-select {
  border: none;
  background: none;
}

ion-select:focus {
  border: none;
  background: none;
}

ion-select:hover {
  border: none;
  background: none;
}
