<ion-content>
  <div
    class="loading h-1 w-[50%] bg-green-500 transition-all duration-200 absolute z-40 top-0"
  ></div>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        E-mail
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form
        class="space-y-6"
        (ngSubmit)="goToNextStep()"
        [formGroup]="registrationForm"
      >
        <div>
          <label
            for="name"
            class="block text-sm font-medium leading-6 text-gray-900"
            >E-mail</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              formControlName="email"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-500 sm:text-sm sm:leading-6"
            />
          </div>
          <div
            *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched"
          >
            <div
              class="text-red-500"
              *ngIf="registrationForm.get('email')?.errors?.['required']"
            >
              E-mail is vereist.
            </div>
            <div
              class="text-red-500"
              *ngIf="!registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.errors"
            >
              E-mail is niet geldig.
            </div>
          </div>
        </div>

        <div>
          <button
            type="submit"
            [disabled]="!registrationForm.valid"
            class="flex w-full justify-center rounded-md bg-gradient-to-r from-green-400 to-cyan-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
          >
            Ga verder
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Wil je inloggen?
        <a
          routerLink="/register"
          class="font-semibold leading-6 text-green-500 hover:text-green-700"
          >Ga terug</a
        >
      </p>
    </div>
  </div>
</ion-content>
