ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;
}

.category {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.title {
  font-size: 22px;
  line-height: 22px;
  color: #212121;
  white-space: normal;
  max-height: 40px;
  font-weight: 500;
}

.caption {
  font-size: 13px;
  line-height: 20px;
  color: #a7a7a7;
}

.location {
  font-size: 12px;
  line-height: 20px;
  color: #bfbfbf;
}
