.custom-refresher-container {
  position: relative;
}

.custom-refresher-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.custom-refresher-animation.active {
  display: block;
  animation: spin 1s infinite steps(10);
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
