<ion-header>
  <ion-toolbar>
    <ion-title>Delete Message</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Are you sure you want to delete this message?</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">Cancel</ion-button>
      <ion-button (click)="dismiss(true)">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
