<ion-content [fullscreen]="true">
  <div class="p-8 bg-white shadow mt-24">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div
        class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0"
      >
        <div>
          <p class="font-bold text-gray-700 text-xl">{{ members }}</p>
          <p class="text-gray-400">Leden</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">0</p>
          <p class="text-gray-400">Berichten</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">0</p>
          <p class="text-gray-400">Foto's</p>
        </div>
      </div>
      <div class="relative">
        <img
          class="w-48 h-48 object-cover bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500"
          src="{{img}}"
          alt=""
        />
      </div>
      <div
        class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center"
      >
        <button
          (click)="goToChat()"
          class="text-white py-2 px-2 w-full uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
        >
          {{joinButtonText}}
        </button>
        <button
          class="text-white py-2 px-4 uppercase rounded bg-red-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
        >
          Verlaat
        </button>
      </div>
    </div>
    <div class="mt-8 text-center border-b pb-12">
      <h1 class="text-4xl font-medium text-gray-700">
        Algemene groep
      </h1>
    </div>
    <div class="mt-5 flex flex-col justify-center">
      <p class="text-4xl font-medium text-center text-gray-700 border-b pb-2">Beschrijving</p>
      <p class="text-gray-600 text-center font-light lg:px-16 pt-2">
       {{desc}}
      </p>
    </div>
  </div>
</ion-content>
