<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Evenementen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding-bottom">
        <ion-text
          style="color: #a7a7a7; font-size: 12px; text-transform: uppercase"
          >Categorieën</ion-text
        >
        <swiper-container slides-per-view="2.5" loop="true">
          <swiper-slide
            class="ion-activatable ripple-parent border w-full border-[#e6e6e6] rounded-lg p-2 text-center justify-center mr-2"
            *ngFor="let category of categories"
          >
            <ion-ripple-effect class="rounded-lg"></ion-ripple-effect>
            <div>
              <iconify-icon
                class="text-sm"
                [icon]="category.icon"
              ></iconify-icon
              ><ion-text> {{category.name}} </ion-text>
            </div>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list>
          <app-event-card
            *ngFor="let item of events"
            [description]="item.description"
            [image]="item.image"
            [name]="item.title"
            [from]="item.from"
            [to]="item.to"
            [date]="item.date"
            [location]="item.location"
            [allowJoin]="item.allowJoin"
          ></app-event-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab *ngIf="admin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
