<ion-content [fullscreen]="true">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 text-center">
    <h2 class="text-2xl font-bold">Account is aangemaakt!</h2>
    <div id="lottie-container"></div>
    <h5
      class="block font-sans text-2xl font-semibold leading-relaxed text-gray-900 antialiased mb-2"
    >
      Wat gebeurt er nu?
    </h5>
    <p class="text-sm text-gray-700 mb-4">
      Momenteel wordt jouw account beoordeeld. Dit proces duurt niet langer dan
      3 dagen. Bedankt voor je begrip!
      Tijdens dit proces wordt er gecontroleerd op spam, dubbele accounts en
      wordt de ingevoerde informatie geëvalueerd op legitimiteit.
    </p>

    <button
      routerLink="/"
      class="flex w-full justify-center rounded-md bg-gradient-to-r from-green-400 to-cyan-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
    >
      Ga terug
    </button>
  </div></ion-content
>
